main {
  display: flex;
  justify-content: center;
}

main > .contact-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;

  font-size: 1.8rem;
}

main > .contact-form > button {
  width: 7rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: #ffffff;
  color: #257a32;
  border: 2px solid #257a32;
  outline: none;
}

main > .contact-form > button:active {
  color: #195522;
  border: 3px solid #195522;
}
