main {
  display: flex;
  justify-content: center;
}

main > .contact-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;

  font-size: 1.8rem;
}

button,
.submit {
  width: 7rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: #ffffff;
  color: #257a32;
  border: 2px solid #257a32;
  outline: none;
}

button:active,
.submit:active {
  color: #195522;
  border: 3px solid #195522;
}

footer {
  margin-top: 5.5rem;
}

.footer-title {
  text-align: center;
  margin-bottom: 4rem;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}
/* to have a margin for dd element*/
dd {
  margin-inline-start: 40px;
}

.footer-title > button {
  width: 12rem;
}
